from = "no-reply@my-host.com"
to = "your-email-address"
subject = "Daily RSS Feeds"

host = "my-host"
port = 587
username = "username"
password = "password"

[feeds]
    [feeds.my-feed]
    url = "https://example/it.rss"
    readerURL = "https://example"

    [feeds.my-feed2]
    url = "https://example/it.rss"
    readerURL = "https://example"
